In [8]:
import pandas as pd
from scipy.stats import ttest_ind

In [58]:
result_1hr = pd.read_csv("cluster_data/result_1hr.csv")
result_1hr

,station,DateTime,BatteryVoltage_max,BatteryVoltage_min,BatteryVoltage_mean,Humidity_max,Humidity_min,Humidity_mean,Rain_sum,Rain_max,...,batt_error,temp_error,humid_error,rain_error,error_state,error_label,error_color,kmeans_AE_labels,kmeans_tsne_labels,kmeans_umap_labels
0,CM-LS-002,2014-01-01,13.858333,12.700000,13.108681,87.858333,48.591667,77.835764,55.0,2.4,...,0,0,0,0,0,normal,blue,0,0,0
1,CM-LS-002,2014-01-02,13.900000,12.700000,13.141667,87.875000,54.600000,78.327778,42.0,2.4,...,0,0,0,0,0,normal,blue,0,0,0
2,CM-LS-002,2014-01-03,14.083333,12.700000,13.171528,87.700000,49.841667,77.736806,47.8,2.4,...,0,0,0,0,0,normal,blue,0,0,0
3,CM-LS-002,2014-01-04,14.308333,12.700000,13.183681,87.850000,57.308333,78.577778,38.4,2.4,...,0,0,0,0,0,normal,blue,0,0,0
4,CM-LS-002,2014-01-05,13.833333,12.700000,13.118750,88.683333,61.358333,81.646875,44.8,2.4,...,0,0,0,0,0,normal,blue,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13561,CM-LS-241,2019-12-22,13.533333,12.891667,13.194097,98.625000,36.616667,78.778819,0.2,0.2,...,0,0,0,0,0,normal,blue,0,0,0
13562,CM-LS-241,2019-12-23,13.525000,12.841667,13.182292,98.708333,35.391667,77.961458,41.0,2.4,...,0,0,0,0,0,normal,blue,0,0,0
13563,CM-LS-241,2019-12-24,13.516667,12.825000,13.181250,98.825000,40.108333,79.918403,0.2,0.2,...,0,0,0,0,0,normal,blue,0,0,0
13564,CM-LS-241,2019-12-25,13.516667,12.816667,13.174306,98.825000,41.200000,80.504514,43.2,2.4,...,0,0,0,0,0,normal,blue,0,0,0
13565,CM-LS-241,2019-12-26,13.516667,12.825000,13.172569,99.033333,43.908333,81.504514,0.2,0.2,...,0,0,0,0,0,normal,blue,0,0,0

In [59]:
result_15min = pd.read_csv("cluster_data/result_15min.csv")
result_15min

,station,DateTime,BatteryVoltage_max,BatteryVoltage_min,BatteryVoltage_mean,Humidity_max,Humidity_min,Humidity_mean,Rain_sum,Rain_max,...,batt_error,temp_error,humid_error,rain_error,error_state,error_label,error_color,kmeans_AE_labels,kmeans_tsne_labels,kmeans_umap_labels
0,CM-LS-002,2014-01-01,15.1,12.7,13.108681,88.6,46.0,77.835764,55.0,2.4,...,1,0,0,0,1,anomaly,red,0,0,0
1,CM-LS-002,2014-01-02,15.2,12.7,13.141667,88.5,51.6,78.327778,42.0,2.4,...,1,0,0,0,1,anomaly,red,0,0,0
2,CM-LS-002,2014-01-03,15.2,12.7,13.171528,88.5,44.8,77.736806,47.8,2.4,...,1,0,0,0,1,anomaly,red,0,0,0
3,CM-LS-002,2014-01-04,15.3,12.7,13.183681,88.5,55.2,78.577778,38.4,2.4,...,1,0,0,0,1,anomaly,red,0,0,0
4,CM-LS-002,2014-01-05,14.9,12.7,13.118750,89.5,58.4,81.646875,44.8,2.4,...,0,0,0,0,0,normal,blue,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13509,CM-LS-241,2019-12-22,13.6,12.8,13.194097,98.9,34.4,78.778819,0.2,0.2,...,0,0,0,0,0,normal,blue,0,0,0
13510,CM-LS-241,2019-12-23,13.6,12.8,13.182292,99.0,33.4,77.961458,41.0,2.4,...,0,0,0,0,0,normal,blue,0,0,0
13511,CM-LS-241,2019-12-24,13.6,12.8,13.181250,99.0,37.7,79.918403,0.2,0.2,...,0,0,0,0,0,normal,blue,0,0,0
13512,CM-LS-241,2019-12-25,13.6,12.8,13.174306,99.0,40.2,80.504514,43.2,2.4,...,0,0,0,0,0,normal,blue,0,0,0
13513,CM-LS-241,2019-12-26,13.6,12.8,13.172569,99.2,42.1,81.504514,0.2,0.2,...,0,0,0,0,0,normal,blue,0,0,0

In [60]:
# result_1hr[result_1hr.station == result_15min.station]
int_df = pd.merge(result_1hr, result_15min, how ='inner', on =['station', 'DateTime'])
int_df

,station,DateTime,BatteryVoltage_max_x,BatteryVoltage_min_x,BatteryVoltage_mean_x,Humidity_max_x,Humidity_min_x,Humidity_mean_x,Rain_sum_x,Rain_max_x,...,batt_error_y,temp_error_y,humid_error_y,rain_error_y,error_state_y,error_label_y,error_color_y,kmeans_AE_labels_y,kmeans_tsne_labels_y,kmeans_umap_labels_y
0,CM-LS-002,2014-01-01,13.858333,12.700000,13.108681,87.858333,48.591667,77.835764,55.0,2.4,...,1,0,0,0,1,anomaly,red,0,0,0
1,CM-LS-002,2014-01-02,13.900000,12.700000,13.141667,87.875000,54.600000,78.327778,42.0,2.4,...,1,0,0,0,1,anomaly,red,0,0,0
2,CM-LS-002,2014-01-03,14.083333,12.700000,13.171528,87.700000,49.841667,77.736806,47.8,2.4,...,1,0,0,0,1,anomaly,red,0,0,0
3,CM-LS-002,2014-01-04,14.308333,12.700000,13.183681,87.850000,57.308333,78.577778,38.4,2.4,...,1,0,0,0,1,anomaly,red,0,0,0
4,CM-LS-002,2014-01-05,13.833333,12.700000,13.118750,88.683333,61.358333,81.646875,44.8,2.4,...,0,0,0,0,0,normal,blue,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13509,CM-LS-241,2019-12-22,13.533333,12.891667,13.194097,98.625000,36.616667,78.778819,0.2,0.2,...,0,0,0,0,0,normal,blue,0,0,0
13510,CM-LS-241,2019-12-23,13.525000,12.841667,13.182292,98.708333,35.391667,77.961458,41.0,2.4,...,0,0,0,0,0,normal,blue,0,0,0
13511,CM-LS-241,2019-12-24,13.516667,12.825000,13.181250,98.825000,40.108333,79.918403,0.2,0.2,...,0,0,0,0,0,normal,blue,0,0,0
13512,CM-LS-241,2019-12-25,13.516667,12.816667,13.174306,98.825000,41.200000,80.504514,43.2,2.4,...,0,0,0,0,0,normal,blue,0,0,0
13513,CM-LS-241,2019-12-26,13.516667,12.825000,13.172569,99.033333,43.908333,81.504514,0.2,0.2,...,0,0,0,0,0,normal,blue,0,0,0

In [61]:
ttest_ind(int_df.kmeans_umap_labels_x, int_df.kmeans_umap_labels_y)

Ttest_indResult(statistic=1.7383050117156273, pvalue=0.08216847260856758)

In [49]:
ttest_ind(result_1hr.kmeans_AE_labels, result_15min.kmeans_AE_labels)

Ttest_indResult(statistic=-29.852411614748824, pvalue=1.0848171903799845e-192)

In [50]:
ttest_ind(result_1hr.kmeans_tsne_labels, result_15min.kmeans_tsne_labels)

Ttest_indResult(statistic=-5.584909330804926, pvalue=2.3606438267503606e-08)

# Graph

In [31]:
from bokeh.plotting import figure, output_file, show
from bokeh.transform import dodge

In [44]:
reduction_time = pd.DataFrame({
    "methods": ["Autoencoder", "t-SNE", "UMAP"],
    "5min": [533.23, 30.45, 82.99],
    "1hour": [24.08, 21.21, 65.98]
})
reduction_time

       methods    5min  1hour
0  Autoencoder  533.23  24.08
1        t-SNE   30.45  21.21
2         UMAP   82.99  65.98

In [45]:
reduction_time.methods

0    Autoencoder
1          t-SNE
2           UMAP
Name: methods, dtype: object

In [62]:
fig = figure(x_range = reduction_time.methods, plot_width = 300, plot_height = 300, x_axis_label = "Dimensional Reduction Methods", y_axis_label ="Time (seconds.)")
fig.vbar(x = dodge('methods', -0.25, range = fig.x_range), top = '5min',
width = 0.2,source = reduction_time, legend_label="5min", color = "green")
fig.vbar(x = dodge('methods', 0.0, range = fig.x_range), top = '1hour',
width = 0.2, source = reduction_time,legend_label="1hour",color = "blue")
show(fig)